<i *ngFor="let i of usuarios">
  <div *ngIf="i.rol==0">
      <div class="align-items-center">
        <form class="text-center " [formGroup]="usuarioForm" >
          <br>
          <div><h1>Gestion Usuarios</h1></div>
            <div><h3>A continuación modifique el rol de usuario [0-2]</h3></div>
            <div class="mb-3 d-flex justify-content-center">
              <input type="number" class="form-control" formControlName="rol" id="publico"
              min="0" max="2">
          </div>
          
          <div class="mt-3 mb-3 pb-2">
            <button class="btn btn-primary mb-2" type="button" class="btn btn-success" (click)="actualizarRol()"> Actualizar Rol </button>
            <button class="btn btn-primary mb-2" type="button" class="btn btn-danger" (click)="deleteUser()"> Borrar Usuario </button>
            <button type="button" class="btn btn-secondary" (click)="goBack()">Volver</button> 
          </div>
        </form>
      </div>
    </div>
    <div class=" m-5 row g-3 align-items-center" *ngIf="i.rol == 1||i.rol==2">
      <br>
      <br>
      <br>
      <br>
      <p style="color: red; " class="h1 text-center">No tiene acceso a esta página debido  su rol de usuario</p>
      <button type="button" class="btn btn-danger" (click)="goBack()">Volver</button>
    </div>
  </i>