<h1 class="h1" style="text-align: center;">Gestión de Incidencias </h1>


<ul *ngFor="let incidencia of listaIncidencias" class="list-group" style="text-align:left">
    <br>
    <div class="contenedor">
        
        <li routerLink="/gestionIncidencias/gestionIncidencias/{{incidencia.id}}" class="list-group-item" >
            Lugar: {{incidencia.data.lugar}} <br>
            Descripcion: {{incidencia.data.descripcion}} 
        </li>
    </div>
</ul>
<div>
        
    <input type="button" class="btn btn-primary m-2" onclick="history.back()" name="Volver" value="Volver">

  </div>






